@charset "utf-8";
/* CSS Document */
body{
            background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            height: 100%;
}
.head{
	border-bottom:1px solid #FFF;
	margin-bottom:10px;
}
h1,h3{
	line-height:10px;
	text-align:center;
}
th,td{
	border:1px solid #FFF;
	padding:10px;
}
.td{
	padding-left:10px;
	width:80%;
}
.button{
	text-align:center;
}
a,button{
	font-weight:bold;
    padding:10px;
    text-decoration:none;
}

/* Pop-up Alert */
@keyframes autopopup {
    from {opacity: 0;margin-top:-200px;}
    to {opacity: 1;}
}
#close {
    background-color: rgba(64, 68, 65, 0.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    animation:autopopup 1s;
}
#close:target {
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 768px){
    .container-popup {
        width:30%;
    }
}
@media (max-width: 767px){
    .container-popup {
        width:30%;
    }
}
.container-popup {
    position: relative;
    margin:auto;
    padding:10px;
    background-color:#FFF;
	color:#000;
	text-align:center;
}
.container-popup img {
    width: 100%
}
.close {
    position: absolute;
    top:0;
    right:0;
    background-color: #F00;
    padding:10px;
    text-decoration:none;
    color:#fff;
}
